/* Common styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --headline-and-back: #2E2F42;
    --leader-color: #434455;
    --button: #4d5ae5;
    --back-btn: #F4F4FD;}

.h-mainpage-text {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
    text-transform: capitalize;
}


.footer {
    background-color: var(--headline-and-back);
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Reset */
.list {
    list-style: none;
    font-style: normal;
}

.link {
    text-decoration: none;
}
    
    /* Header */

.header {

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio {
    font-weight: 800;
    color: var(--headline-and-back);
}

.studio-footer {
    color: #F4F4FD;
}

.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
}

.header-list-link:hover,
.header-list-link:focus {
    color: #404BBF;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    color: var(--leader-color);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* Main */
/* Hero */
.section-hero {
    background-color: var(--headline-and-back);
    text-align: center;
}

.headline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}

.button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background-color: #4D5AE5;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.section-quality {

}

.h-mainpage-line {
    line-height: 1.11;
}

.section-production {

}

.production-item {

}


.section-team {
    background-color: #F4F4FD;
}

.team {

}

.team-item {

}

.nav-list {
    text-align: center;

}

.item {

}

.nav-btn {
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--button);
background-color: var(--back-btn);
cursor: pointer;
}

.nav-btn:hover,
.nav-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.address {
    font-style: normal;
}

.all {

}

.hide {
    line-height: 1.5;
    visibility: hidden;
}

.p-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
    line-height: 1.2;

}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--leader-color);
    font-weight: 400;
    font-size: 16px;

}

.h-portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);    
}

.portfolio-text {
    letter-spacing: 0.02em;
    color: var(--leader-color);
    line-height: 1.5;
}

.h-line {
    line-height: 1.2;
}

