/* Common styles */
body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
}

/* Reset */
.list,
.ul,
.ol {list-style: none;
    font-style: normal;
}

.link,
a {
    text-decoration: none;
    color: currentColor;
    font-style: normal;
}

.button {
    font-family: inherit;
    cursor: pointer;
}

/* Header */

.header {
    background-color: #FFFFFF;
}

.nav {

}

.logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.web {
    color: #4D5AE5;
}

.logo-footer {
    color:#F4F4FD;
}

.header-list {

}

.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-list-item:hover,
.header-list-item:focus {
    color: #404BBF;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Main */
/* Hero */
.section-hero {
    background-color: #2E2F42;
    text-align: center;
}

.headline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background-color: #4D5AE5;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}