/* Common styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --headline-and-back: #2E2F42;
    --leader-color: #434455;
    --button: #4d5ae5;
    --back-btn: #F4F4FD;
    --border: #E7E9FC;
    --client-icon: #8E8F99;
    --hover: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;   
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.h-mainpage-text {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

/* Footer common styles */

.footer {
    background-color: var(--headline-and-back);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.social-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-icons {
    width: 40px;
    height: 40px;
    
}

.footer-networks {
    display: flex;
    gap: 16px;
    list-style: none;
}

.foot-icon {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--button);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-icon:hover,
.foot-icon:focus {
    background-color: #31D0AA;
}

/* Phone screen */

.container {
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* Tablet screen */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop screen */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    font-style: normal;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

/* Header */

.header {
    border-bottom: 1px solid var(--border);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button);
    
}

.header-nav {

}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.studio {
    font-weight: 800;
    color: var(--headline-and-back);
}

.studio-footer {
    color: #F4F4FD;
}



.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
}

.header-list-link {
    color: var(--headline-and-back);
    padding: 24px 0;
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.header-list-link:hover,
.header-list-link:focus {
    color: #404BBF;
}

.navigation {
    display: flex;
    gap: 40px;
    border-bottom: 1px;
    border-bottom-color: var(--border);
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    color: var(--leader-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.active {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover);
    color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Main */
/* Hero */
.section-hero {
    background-color: var(--headline-and-back);
    text-align: center;
    height: 600px;
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images/img/peopleimg.jpg);

    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.section-container {
    
}

.headline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/* Section Quality */

.section-quality {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section-quality {
    padding: 120px 0;
  }
}

.quality-item {
    
}

@media only screen and (min-width: 768px) {
    .quality-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
  .quality-item {
    max-width: 264px;
  }
}

@media only screen and (max-width: 767.98px) {
  .quality-item:not(:last-child) {
    margin-bottom: 72px;
  }
} 

.q-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: var(--back-btn);
    border-radius: 4px;
}

@media only screen and (max-width: 1157.98px) {
  .q-icons {
    display: none;
  }
}

.quality-list {
    display: block;
}

@media screen and (min-width: 768px) {
   .quality-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .quality-list {
    flex-wrap: nowrap;
  }
}

/* Section Production */

.h-mainpage-line {
    line-height: 1.11;
}

.section-production {
    padding-bottom: 120px;
}

.production-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.production {
    border: 1px solid var(--border);
}

.production-item {}

@media screen and (max-width: 1157px) {
    .section-production {
        display: none;
    }
}


/* Section Team */

/* Phone */
.section-team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .section-team {
    
  }
}

/*  Desktop */

@media only screen and (min-width: 1158px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.team {
    border: 1px solid var(--border);
}

.team-list {
    display: block;
}

/* !!!!!!!!!! АБЗАЦИ */

@media only screen and (min-width: 768px) {
  .team-list {
    display: flex;
    gap: 72px 24px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.team-bottom {
    padding: 32px 0;
    gap: 8px;

}

.team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-top: 8px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    margin-top: 8px;
}

.networks-item {
    width: 40px;
    height: 40px;
}

.team-networks {
    fill: var(--back-btn);
}
    
.net-icon {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--button);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.net-icon:hover,
.net-icon:focus {
    background-color: var(--hover);

}

/* Portfolio */

.nav-list {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}
 

.item {

}

.item:hover,
.item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-list-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   

.nav-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--button);
    background-color: var(--back-btn);
    cursor: pointer;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-btn:hover,
.nav-btn:focus {
    color: #FFFFFF;
    background-color: var(--hover);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.address {
    font-style: normal;
    margin-left: 332px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.all {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.all-item {
    width: calc((100% - 48px) / 3);    
}

.all-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.all-item-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.all-item-link:hover .overlay-text,
.all-item-link:focus .overlay-text {
    
    transform: translateY(0%);
        
}

.bottom-card {
    padding: 32px 16px;
    border: 1px solid var(--border);
    border-top: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.p-text {
    text-align: center;
}

/* Phone */

.p-name {
    color: var(--headline-and-back);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

@media only screen and (max-width: 767.98px) {
  .p-name {
    text-align: center;
  }
}

@media only screen and (min-width: 1158px) {
  .p-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.p-name-team {
   text-align: center;
    margin-bottom: 8px; 
}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--leader-color);
    font-weight: 500;
    font-size: 16px;
}

@media only screen and (min-width: 1158px) {
  .text {
    font-weight: 400;
  }
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.h-portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
    margin-bottom: 8px;
}

.portfolio-text {
    letter-spacing: 0.02em;
    color: var(--leader-color);
    line-height: 1.5;
}


.h-line {
    line-height: 1.2;
}

/* Overlay */



.wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--back-btn);
    padding: 40px 32px;
    margin: 0 auto;
    background-color: var(--button);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:hover,
.overlay-text:hover {
    transform: translateY(0%);
}


/* Customers */

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.clients {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}

.clients-item {

}

.clients-link {
    display: flex;
    width: 168px;
    height: 88px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--client-icon);
    border-radius: 4px;
    padding: 16px 32px;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4,0,0.2,1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.client-icons {
    fill: currentColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--hover);
    color: #404bbf;
}

.clients-link:hover .client-icons {
    fill: var(--hover);
}

/* Footer Other */

.foot-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-logo-p {
    margin-right: 120px;
}

.footer-media {
    margin-right: 80px;

}

.social-media {
    fill: var(--back-btn);
}

/* Modal styles */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-50%), translateY(-75%);
    
}

.modal-form-container {
    margin-bottom: 8px;
}

.modal {
    width: 408px;
    border-radius: 4px;
    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--border);
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-icon {
    stroke: var(--headline-and-back);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
    display: block;
}

.form {
    
}



.modal-text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    width: 360px;
    color: var(--headline-and-back);
    margin-bottom: 16px;

}

.modal-form-form {
    position: relative;
}

.modal-form-field {
    display: block;
    color:  var(--client-icon);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px; 
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    font-size: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-input:focus {
    border-color: var(--button);
}

.modal-form-icon {
    fill: var(--headline-and-back);
    position: absolute;
    bottom: 8px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--button);
}

.modal-form-button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.comment-container {
    margin-bottom: 16px;

}

.comment-form {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.comment-form::placeholder {
    color: rgba(46, 47, 66, 0.40);

}

.comment-form:focus {
    border-color: var(--button);
}

/* Agreement */

.agreement-container {
    margin-bottom: 24px;
}

.modal-form-agreement {
    color: var(--client-icon);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    user-select: none;
}

.modal-form-checkbox {
    
}
    

.modal-form-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-agreement .modal-form-custom {
    border: none;
    background-color: var(--hover);
    fill: var(--back-btn);
}

.modal-form-checkbox:checked + .modal-form-agreement .modal-form-custom .modal-form-checkbox-icon {
    opacity: 1;
}

.modal-form-checkbox:checked + .modal-form-custom > .modal-form-checkbox-icon {
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-icon {
    opacity: 0;
}


.agreement-link {
    color: var(--iris, #4D5AE5);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.subscribe {
    
}

.footer-subscribe-form {
    
    
}

.subscribe-text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-field {
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    padding: 8px 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

.subscribe-field:focus {
    border-color: var(--hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.subscribe-field::placeholder {
    width: 36px;
    height: 24px;
    color: #FFF;
    
}

.btn {
    padding: 8px 24px;
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subscribe-icon {
    margin-left: 16px;
}