/* Common styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --headline-and-back: #2E2F42;
    --leader-color: #434455;
    --button: #4d5ae5;
    --back-btn: #F4F4FD;
    --border: #E7E9FC;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;   
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.h-mainpage-text {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
    text-transform: capitalize;
    text-align: center;
}


.footer {
    background-color: var(--headline-and-back);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    width: 264px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    font-style: normal;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

/* Header */

.header {
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid var(--border);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button);
    margin-right: 76px;
    padding: 24px 0;
}



.studio {
    font-weight: 800;
    color: var(--headline-and-back);
}

.studio-footer {
    color: #F4F4FD;
}

.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
    padding: 24px 0;
}

.header-list-link {
    color: var(--headline-and-back);
}

.header-list-link:hover,
.header-list-link:focus {
    color: #404BBF;
}

.navigation {
    display: flex;
    gap: 40px;
    border-bottom: 1px;
    border-bottom-color: var(--border);
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    color: var(--leader-color);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* Main */
/* Hero */
.section-hero {
    background-color: var(--headline-and-back);
    text-align: center;
    height: 600px;
    padding: 188px 0;

}

.section-container {
}

.headline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    color: #FFFFFF;
    display: flex;
    max-width: 496px;
    flex-direction: column;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    margin-bottom: 188px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.section-quality {
    padding: 120px 0;
}

.quality-item {
    width: 264px;

}

.quality-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.h-mainpage-line {
    line-height: 1.11;
    margin-bottom: 72px;
}

.section-production {
    padding: 120px 0;
}

.production-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.production {
    border: 1px solid var(--border);
}

.production-item {}


.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team {
    border: 1px solid var(--border);
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-bottom {
    padding: 32px 16px;

}

.team-item {
    background-color: #FFFFFF;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.nav-list {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 24px;   
    margin-top: 96px;
    margin-bottom: 72px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.item {

}

.nav-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--button);
    background-color: var(--back-btn);
    cursor: pointer;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 12px 24px;
}

.nav-btn:hover,
.nav-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.address {
    font-style: normal;
    margin-left: 332px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.all {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.all-item {
    width: calc((100% - 48px) / 3);
}

.bottom-card {
    padding: 32px 16px;
    border: 1px solid var(--border);
    border-top: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.p-text {
    text-align: center;
}

.p-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
    line-height: 1.2;
    margin-bottom: 8px;
}

.p-name-team {
   text-align: center;
    margin-bottom: 8px; 
}
    

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--leader-color);
    font-weight: 400;
    font-size: 16px;

}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.h-portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headline-and-back);
    display: flex;
    margin-bottom: 8px;
}

.portfolio-text {
    letter-spacing: 0.02em;
    color: var(--leader-color);
    line-height: 1.5;
}

.h-line {
    line-height: 1.2;
}